
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

@font-face {
    font-family: 'main';
    src: url("font.TTF");
    font-style: normal;
    font-weight: 600;
}


/* VARIABLE CSS================================================================================- */
:root{

    /* COLORS=---------------- */
    --primary-color: #FF0000;
    --accent-color: #212121;
    --text-color-w: #D9D9D9;
    --text-color-b: #212121;
    --container-color: #9A9A9A;
    --body-color: #F5F5F5;
    /* ======================= */


    /* FONT & TYPOGRAPHY====== */
    --body-font: 'Montserrat', sans-serif;
    --title-font: 'main', sans-serif;

    --big-font-size: 4rem;
    --h1-font-size: 2.986rem;
    --h2-font-size: 2.488rem;
    --h3-font-size: 2.074rem;
    --h4-font-size: 1.728rem;
    --normal-font-size: 1rem;
    --small-font-size: .75em;

    --icon-size: 2rem;
    --icon-size-small: 1rem;

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /* ======================= */


    /* MARGINS & PADDING ===== */
    --mar-sml: .5rem;
    --mar-1: 1rem;
    --mar-2: 1.5rem;
    --mar-3: 2rem;
    --mar-4: 3rem;
    --mar-5: 4rem;

    --gap-1: 1rem;
    --gap-2: 1.5rem;
    --gap-3: 3rem;
    --gap-4: 4rem;
    --gap-5: 5rem;
    /* ======================= */


    /* MISC=================== */
    --z-fixed: 15;
    --outer-radius: 32px;
    --inner-radius: 8px;
    /* ======================= */

}
/*-============================================================================================- */

/* HTML BASE===================================================================================- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    background-color: var(--body-color);
}

main{
    position: relative;
}

h1{
    font-size: var(--h1-font-size);
}

h2{
    font-size: var(--h2-font-size);
}

h3{
    font-size: var(--h3-font-size);
}

h4{
    font-size: var(--h4-font-size);
}

p{
    font-size: var(--normal-font-size);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
    background-color: transparent;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s ease-in-out;
}
/*-============================================================================================- */

/* RESPONSIVE BREAKPOINTS======================================================================- */

/* FOR SML MOBILE */
@media screen and (max-width : 389px){
    .container{
        margin: 0 1rem;
    }
}

/* FOR MOBILE */
@media screen and (min-width: 390px){
    .container{
        max-width: 326px;
        margin: 0 auto;
    }
}

/* FOR TABLET */
@media screen and (min-width: 744px){
    .container{
        max-width: 648px;
        margin: 0 auto;
    }
}

/* FOR DESKTOP */
@media screen and (min-width: 1100px){
    .container{
        max-width: 1080px;
        margin: 0 auto;
    }
}
/*-============================================================================================- */

/* REUSABLE CSS CLASSES========================================================================- */

.flex-column{
    display: flex;
    flex-direction: column;
}

.responsive-container{
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
}

.section{
    position: relative;
    padding-bottom: 8rem;
    overflow: hidden;
}

.section-title{
    font-family: var(--title-font);
    font-size: var(--h1-font-size);
}

.section-subtitle{
    font-size: var(--normal-font-size);
    font-weight: var(--font-light);
}

.p-text{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.transition{
    transition: all .4s ease-in-out;
}

.img-container{
    position: relative;
    overflow: hidden;
    background-color: var(--container-color);
}
/*-============================================================================================- */

/* CSS COMPONENTS =============================================================================- */

/* BUTTONS */
button{
    width: 252px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    font-family: var(--body-font);
}

.button-container{
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
}
/* -------- */

/* SECTION HEADER */
.section-header{
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
}

.section-header-line{
    content: '';
    height: 1px;
    width: 64px;
    background-color: var(--primary-color);
}

.section-subtitle{
    max-width: 500px;
    font-weight: var(--font-medium);
}
/* -------------- */

/* CARD COMPONENT 1 */
.card-component-1{
    height: 288px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    border: 2px solid var(--accent-color);
    border-radius: var(--outer-radius);
    padding: 24px;
}

.card-component-1 .img-container{
    height: 176px;
    width: 252px;
    border-radius: var(--inner-radius);
}

.card-component-1 p{
    font-weight: var(--font-semi-bold);
}
/* ---------------- */

/* CARD COMPONENT 2 */
.card-component-2{
    height: 452px;
    width: 326px;
    border: 2px solid var(--accent-color);
    border-radius: var(--outer-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in-out;
}

.card-component-2 .img-container{
    height: 404px;
    width: 278px;
    border-radius: var(--inner-radius);
}

.card-component-2:hover{
    border: .5px solid var(--body-color);
}

.card-component-2:hover .img-container{
    width: 326px;
    height: 452px;
    border-radius: var(--outer-radius);
}
/* ---------------- */

/* CARD COMPONENT 3 */
.card-component-3{
    height: 384px;
    width: 326px;
    border: 2px solid var(--accent-color);
    border-radius: var(--outer-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in-out;
}

.card-component-3 .img-container{
    height: 336px;
    width: 278px;
    border-radius: var(--inner-radius);
    transition: all .4s ease-in-out;
}

.card-component-3:hover{
    border: .5px solid var(--body-color);
}

.card-component-3:hover .img-container{
    width: 326px;
    height: 384px;
    border-radius: var(--outer-radius);
}
/* ---------------- */

/* CARD COMPONENT 4 */
.card-component-4{
    height: 416px;
    width: 326px;
    border: 2px solid var(--accent-color);
    border-radius: var(--outer-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in-out;
}

.card-component-4 .img-container{
    height: 368px;
    width: 278px;
    border-radius: var(--inner-radius);
    transition: all .4s ease-in-out;
}

.card-component-4:hover{
    border: .5px solid var(--body-color);
}

.card-component-4:hover .img-container{
    height: 416px;
    width: 326px;
    border-radius: var(--outer-radius);
}
/* ---------------- */

/*-============================================================================================- */

/* SITE NAVIGATION BAR ========================================================================- */
.nav{
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    height: 48px;
    width: 326px;
    background-color: #f5f5f5b1;
    border: 2px solid var(--accent-color);
    backdrop-filter: blur(5px);
    border-radius: var(--outer-radius);
    z-index: var(--z-fixed);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left-side,
.nav-right-side{
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--gap-2);
    z-index: 10;
}

.nav-left-side{
    padding-left: var(--gap-2);
}

.nav-right-side{
    padding-right: var(--gap-2);
}

.nav-button{
    height: 24px;
    width: 24px;
}

.nav-button i{
    color: var(--text-color-b);
    font-size: var(--gap-2);
}

.nav-main-button{
    height: 76px;
    width: 76px;
    border-radius: 50%;
    background-color: var(--body-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in-out;

}

.nav-main-button button{
    height: 48px;
    width: 48px;
    background-color: var(--primary-color);
    border-radius: 48px;
    color: var(--text-color-w);
    font-size: var(--gap-2);
    transition: all .4s ease-in-out;
}

.nav-main-button.is-clicked button{
    background-color: var(--accent-color);
    transform: rotate(45deg);
}

.nav-call{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 48px;
    width: 48px;
    background-color: var(--primary-color);
    color: var(--text-color-w);
    border-radius: 48px;
    visibility: hidden;
    transition: all .4s ease-in-out;
    z-index: 0;
    display: flex;
    gap: 15px;
    font-size: var(--gap-2);
}

.nav-call p{
    visibility: hidden;
}

.nav-call i{
    visibility: hidden;
}

.nav-call.active{
    top: -80px;
    visibility: visible;
    width: 171px;
}

.nav-call.active p{
    visibility: visible;
}

.nav-call.active i{
    visibility: visible;
}
/*-============================================================================================- */

/* HOME SECTION ===============================================================================- */
.home{
    color: var(--text-color-w);
    padding-bottom: 5rem;
}

.home-container{
    padding-top: 226px;
    gap: var(--gap-4);
}

.home-frame-one{
    gap: var(--gap-2);
}

.home-title{
    font-family: var(--title-font);
    font-size: var(--big-font-size);
    height: 80px;
}

.home-subtitle{
    font-weight: var(--font-light);
    color: #BABABA;
}

.home-button{
    border: 4px solid var(--primary-color);
    color: var(--text-color-w);
}

.home-list-component{
    display: flex;
    flex-wrap: wrap;
    gap: var(--mar-3);
}

.home-list-item{
    display: flex;
    align-items: center;
    gap: var(--gap-1);
    padding-bottom: var(--gap-1);
    border-bottom: 1px solid var(--body-color);
    width: 299px;
}

.home-list-item p{
    font-size: 24px;
    color: var(--text-color-w);
}

.squr-icon{
    content: '';
    height: 24px;
    width: 24px;
    background-color: var(--body-color);
    border-radius: 4px;
}

.home-background-container{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home-background-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);
}
/*-============================================================================================- */

/* SERVICES SECTION ===========================================================================- */
.services{
    padding-top: 8rem;
}

.services-container{
    gap: var(--gap-4);
}

.services-cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.services-button-container{
    align-self: center;
    align-items: center;
}

.service-button-fill{
    background-color: var(--accent-color);
    color: var(--text-color-w);
    font-family: var(--body-font);
}

.service-button-fill:hover{
    background-color: var(--primary-color);
    width: 284px;
}

.service-button-outline{
    border: 2px solid var(--accent-color);
    color: var(--text-color-b);
}
/*-============================================================================================- */

/* GALLERY SECTION ===========================================================================- */
.gallery-section-header{
    padding-left: 26px;
}
.gallery-swiper-container{
    overflow: hidden;
    margin-top: var(--gap-4);
    display: flex;
    flex-direction: column;
    margin-bottom: var(--gap-5);
}

.gallery-buttons-container{
    align-self: flex-end;
    padding-right: 26px;
    margin-top: var(--gap-4);
    display: flex;
    gap: var(--gap-1);
}

.gallery-buttons-container button{
    position: relative;
    height: 48px;
    width: 48px;
    border-radius: var(--inner-radius);
}

.gallery-prev{
    border: 2px solid var(--accent-color);
}

.gallery-next{
    background-color: var(--primary-color);
}

.gallery-video-container{
    position: relative;
    width: 100%;
    height: 689px;
    background-color: var(--accent-color);
}

.gallery-video-container video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(50%);
}
/*-============================================================================================- */

/* ABOUT SECTION ==============================================================================- */
.about-container{
    gap: var(--gap-4);
}
.about-section-header{
    align-items: center;
    text-align: center;
}

.about-faq-title{
    font-weight: var(--font-medium);
}

.about-frame{
    display: flex;
    flex-direction: column;
    gap: var(--gap-4);
}

.about-list-component{
    display: flex;
    flex-wrap: wrap;
    gap: var(--mar-3);
    justify-content: center;
}

.about-list-item{
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    height: 48px;
    width: 278px;
    border-bottom: 2px solid var(--container-color);
    transition: all .4s ease-in-out;
}

.about-list-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-2);
}

.about-list-item-header p{
    font-weight: var(--font-medium);
    color: var(--container-color);
}

.about-list-item-header p:nth-child(2){
    width: 177px;
}

.about-list-item-header svg{
    transform: rotate(180deg);
    transition: all .4s ease-in-out;
}

.about-list-item span{
    position: relative;
    height: 0px;
    overflow: hidden;
    transition: all .4s ease-in-out;
}

.about-list-item .question-answer {
    font-weight: var(--font-semi-bold);
}

.about-list-item.is-active{
    height: 128px;
    border-bottom: 2px solid var(--text-color-b);
    transition: all .4s ease-in-out;

}

.about-list-item.is-active p{
    color: var(--text-color-b);
}

.about-list-item.is-active span {
    height: 80px;
    transition: all .4s ease-in-out;

}

.about-list-item.is-active svg{
    transform: rotate(90deg);
}

.about-images-container{
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    align-items: center;
}

.about-buttons-container{
    align-self: center;
    align-items: center;
}

.about-button-fill{
    background-color: var(--accent-color);
    color: var(--text-color-w);
}

.about-button-fill:hover{
    background-color: var(--primary-color);
    width: 284px;
}

.about-button-outline{
    border: 2px solid var(--accent-color);
    color: var(--text-color-b);
}
/*-============================================================================================- */

/* CONTACT SECTION ============================================================================- */
.contact{
    background: linear-gradient(to top, red, black 20%, black 50%);
    color: var(--text-color-w);
}
.cta-banner{
    position: relative;
    height: 408px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: var(--text-color-w);
    margin-bottom: var(--gap-5);
}

.cta-buttons-container{
    align-items: center;
}

.cta-button-fill{
    background-color: var(--primary-color);
    color: var(--text-color-w);
}

.cta-button-fill:hover{
    width: 284px;
}

.cta-button-outline{
    border: 2px solid var(--text-color-w);
    color: var(--text-color-w);
}

.contact-container{
    display: flex;
    flex-direction: column;
    column-gap: var(--gap-2);
}

.contact-responsive-container{
    display: flex;
    flex-direction: column;
    column-gap: var(--gap-2);
    row-gap: var(--gap-4);
    margin-bottom: var(--gap-4);
}

.contact-frame-one{
    gap: var(--gap-4);
}

.contact-list-component{
    gap: var(--gap-2);
}

.contact-list-item{
    display: flex;
    gap: var(--gap-1);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: var(--gap-1);
    max-width: 219px;
    color: var(--text-color-w);
}

.contact-list-item p{
    font-weight: var(--font-bold);
}

.contact-list-item .squr-icon{
    background-color: var(--text-color-w);
}

.contact-button-fill{
    background-color: var(--body-color);
    color: var(--text-color-b);
}

.contact-button-outline{
    border: 2px solid var(--body-color);
    color: var(--text-color-w);
}

.contact-frame-three{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-2);
    align-self: center;
    align-items: center;
    justify-content: center;
    max-width: 501px;
}

.contact-frame-item{
    height: 48px;
    width: 151px;
    border: 2px solid var(--body-color);
    border-radius: 1rem;
    display: grid;
    place-items: center;
}

.contact-frame-item p{
    font-family: var(--title-font);
    font-size: var(--normal-font-size);
}

.contact-frame-item:nth-child(4){
    width: 278px;
    background-color: var(--primary-color);
    color: var(--text-color-w) !important;
    border: none;
}
/*-============================================================================================- */

/* FOOTER SECTION ============================================================================- */
.footer{
    background-color: #000000;
    color: var(--text-color-w);
    padding-top: 80px;
    z-index: 30;
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap: var(--gap-4);
}

.footer-frame-one{
    display: flex;
    flex-direction: column;
    gap: var(--mar-3);
}

.company-name-container{
    display: flex;
    align-items: center;
    gap: var(--gap-2);
}

.company-name-container .img-container{
    width: 48px;
    height: 48px;
    border-radius: 8px;
}

.company-name{
    font-family: var(--title-font);
    font-size: var(--h4-font-size);
    font-weight: var(--font-semi-bold);
}

.credits-container{
    gap: var(--gap-1);
}

.etx{
    color: var(--text-color-w);
    cursor: pointer;
}

.footer-nav-list{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-2);
}

.footer-list-item a{
    color: var(--text-color-w);
}
/*-============================================================================================- */


/* RESPONSIVE BREAKPOINTS =====================================================================- */

/* TABLET */
@media screen and (min-width: 744px){

    .home-title{
        background: linear-gradient(to right,  rgb(255, 255, 255), rgb(138, 138, 138) 50%, rgb(255, 255, 255) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        height: max-content;
        font-size: 6rem;
    }

    .services-section-header{
        padding-left: 26px;
    }

    .services-button-container{
        flex-direction: row;
    }

    .card-component-3{
        width: 312px;
        height: 384px;
    }

    .card-component-3 .img-container{
        width: 264px;
        height: 336px;
    }

    .about-images-container{
        flex-direction: row;
    }

    .about-buttons-container{
        flex-direction: row;
    }

    .cta-banner{
        height: 320px;
    }

    .cta-buttons-container{
        flex-direction: row;
    }

    .contact-buttons-container{
        flex-direction: row;
    }

    .card-component-4{
        width: 648px;
        height: 416px;
    }

    .card-component-4 .img-container{
        width: 600px;
        height: 368px;
    }
    
    .card-component-4:hover .img-container{
        height: 416px;
        width: 648px;
        border-radius: var(--outer-radius);
    }

    .footer-container{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

/* DESKTOP */
@media screen and (min-width: 1100px){

    .section-header{
        flex-direction: row;
        align-items: center;
        max-width: 803;
    }

    .section-header-line{
        width: 1px;
        height: 64px;
    }

    .card-component-1{
        width: 528px;
        height: 224px;
        flex-direction: row;
        align-items: flex-end;
    }

    .services-button-container{
        padding-left: 26px;
        align-self: flex-start;
    }

    .card-component-2{
        width: 344px;
        height: 464px;
    }

    .card-component-2 .img-container{
        width: 296px;
        height: 404px;
    }

    .card-component-2:hover .img-container{
        width: 344px;
        height: 464px;
    }

    .about-section-header{
        align-self: center;
        text-align: initial;
    }

    .about-frame{
        flex-direction: row;
        gap: var(--gap-2);
    }

    .about-list-item{
        width: 344px;
    }

    .about-list-item-header{
        justify-content: flex-start;
    }

    .card-component-3{
        width: 344px;
        height: 384px;
    }

    .card-component-3 .img-container{
        width: 296px;
        height: 336px;
    }

    .about-buttons-container{
        align-self: initial;
    }

    .contact-responsive-container{
        flex-direction: row;
    }

    .card-component-4{
        height: 416px;
        width: 528px;
    }

    .card-component-4 .img-container{
        width: 480px;
        height: 368px;
    }

    .card-component-4:hover .img-container{
        height: 416px;
        width: 528px;
    }

    .contact-frame-three{
        max-width: 100%;
    }

    .contact-frame-item{
        width: 344px;
    }

    .contact-frame-item:nth-child(4){
        width: 528px;
    }
}
/*-============================================================================================- */
