@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');


/* VARIABLE CSS================================================================================- */
:root{

    /* COLORS=---------------- */
    --primary-color: #FF0000;
    --accent-color: #212121;
    --text-color-w: #D9D9D9;
    --text-color-b: #212121;
    --container-color: #9A9A9A;
    --body-color: #F5F5F5;
    /* ======================= */


    /* FONT & TYPOGRAPHY====== */
    --body-font: 'Montserrat', sans-serif;
    --title-font: 'main', sans-serif;

    --big-font-size: 4rem;
    --h1-font-size: 2.986rem;
    --h2-font-size: 2.488rem;
    --h3-font-size: 2.074rem;
    --h4-font-size: 1.728rem;
    --normal-font-size: 1rem;
    --small-font-size: .75em;

    --icon-size: 2rem;
    --icon-size-small: 1rem;

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /* ======================= */


    /* MARGINS & PADDING ===== */
    --mar-sml: .5rem;
    --mar-1: 1rem;
    --mar-2: 1.5rem;
    --mar-3: 2rem;
    --mar-4: 3rem;
    --mar-5: 4rem;

    --gap-1: 1rem;
    --gap-2: 1.5rem;
    --gap-3: 3rem;
    --gap-4: 4rem;
    --gap-5: 5rem;
    /* ======================= */


    /* MISC=================== */
    --z-fixed: 15;
    --outer-radius: 32px;
    --inner-radius: 8px;
    /* ======================= */

}
/*-============================================================================================- */

/* HTML BASE===================================================================================- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    background-color: var(--body-color);
}

main{
    position: relative;
}

h1{
    font-size: var(--h1-font-size);
}

h2{
    font-size: var(--h2-font-size);
}

h3{
    font-size: var(--h3-font-size);
}

h4{
    font-size: var(--h4-font-size);
}

p{
    font-size: var(--normal-font-size);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
    background-color: transparent;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s ease-in-out;
}
/*-============================================================================================- */


.sign-in-container{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 326px;
    height: max-content;
    gap: var(--gap-1);
}

.main-logo{
    position: relative;
    height: 80px;
}

.sign-in-container h4{
    font-weight: var(--font-medium);
}

.sign-in-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-2);
    position: relative;
    padding: 0 var(--gap-2);
    margin-top: var(--gap-4);
    height: 400px;
    width: 326px;
    background-color: #000000;
    border-radius: var(--outer-radius);
    color: var(--text-color-w);
}

.checkmark-container{
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .checkmark {
    width: 100%;
    height: 100%;
  }
  
  .checkmark-circle {
    stroke: #00ba0c;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-dasharray: 207; /* Adjusted for the new radius */
    stroke-dashoffset: 207;
    animation: stroke 0.9s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark-check {
    stroke: #00ba0c;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.4s cubic-bezier(0.65, 0, 0.45, 1) 0.9s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }

  .sign-in-box h2{
    font-weight: var(--font-semi-bold);
  }

  .review-button{
    width: 278px;
    height: 48px;
    color: var(--text-color-w);
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
    margin-top: var(--gap-3);
  }